.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: red;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Home*/

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/*login*/

.login inputContainers{
  display:flex;
  justify-content: center;
  margin-bottom: 5px;
  align-content: center;
}

.login .buttons {
  display: flex;
  justify-content: center;
}


.login #userName{
 margin: 5px;
 padding: 5px;
 border: 1px solid rgba(0,0,0,0.5);
}

.login #password{
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.5);
}

.login #login{
  background-color: #72DDF7;
  margin:15px;
  padding: 10px;
  border: 0.5px solid rgba(0,0,0,0.1);
  box-shadow: 1px 2px rgba(0,0,0,0.1);
}
.login #register{
  background-color: #72DDF7;
  margin: 15px;
  padding: 10px;
  border: 0.5px solid rgba(0,0,0,0.1);
  box-shadow: 1px 2px rgba(0,0,0,0.1);
}

.login p{
  display: flex;
  justify-content: center;
}

/*register*/

.register inputContainers{
  display:flex;
  justify-content: center;
  margin-bottom: 5px;
  align-content: center;
}

.register form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register .buttons {
  display: flex;
  justify-content: center;
}

.register #email, #userName, #password, #confpass{
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.5);
 }


.register #login{
  background-color: #72DDF7;
  margin:15px;
  padding: 10px;
  border: 0.5px solid rgba(0,0,0,0.1);
  box-shadow: 1px 2px rgba(0,0,0,0.1);
}
.register #register{
  background-color: #72DDF7;
  margin: 15px;
  padding: 10px;
  border: 0.5px solid rgba(0,0,0,0.1);
  box-shadow: 1px 2px rgba(0,0,0,0.1);
}

.register p{
  display: flex;
  justify-content: center;
}


/*menu*/

.menu {
  background-color: #A9E190;
}

.menu ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.menu li{
  margin-right: 15px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.menu a{
  text-decoration: none;
  color: black;
}

.menu img{
  height: 50px;
  margin-left: 15px;
}

.menu .leftCornerOfHeader{
  display: flex;
}

.menu .rightCornerOfHeader{
  display: flex;
}


/*admin panel*/
.adminPanel{
  display: flex;
  flex-direction: column;
}

.adminPanel .body-container{
display: flex;
}

.adminPanel .adminList-container{
flex:1;
background-color: #2D3047;
color: white;
display: flex;
flex-direction: column;
}

.adminPanel .actionArea-container{
flex:5;
margin: auto;
height: 100vh; 
}

.adminPanel .adminList-container button{
  padding: 3em;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(170, 225, 144, 0.131);
  font-size: 1em;
  color: white;
}

.adminPanel .adminList-container button:focus {
  outline: none;
  color: #A9E190;
}